{% extends 'service/base.html' %}
{% block  content %}    
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
        </div>
    </div>
    <div >
        <div class="panel panel-default">
            <div class="panel-heading">
                <!-- Button trigger modal -->
                Add new site:  <button id="create_check" type="button" class="btn btn-info btn-circle">
                <i class="fa fa-plus"></i>
                </button>
                
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>TITLE</th>
                                <th>SITE URL</th>
                                <th>DESCRIPTION</th>
                                <th>START_DATE</th>
                                <th>EXPIRE_DATE</th>
                                <th>CHECK DATE</th>
                                <th>CREATE BY</th>
                                <th>STATUS</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for  sslcheck in  sslcheckList %}
                                <tr>
                                    <td><div class="btn-group open">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-gear"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Detail</a>
                                            </li>
                                            <li><a href="#">Edit</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                    </td>
                                    <td>{{ sslcheck.ssl_title }}</td>
                                    <td>{{ sslcheck.ssl_site }}</td>
                                    <td>{{ sslcheck.ssl_desc|slice:":10" }}.. .</td>
                                    <td>{{ sslcheck.ssl_create_date }}</td>
                                    <td>{{ sslcheck.ssl_expiry_date }}</td>
                                    <td>{{ sslcheck.ssl_last_check }}</td>
                                    <td>{{ sslcheck.ssl_author }}</td>
                                    <td>
                                        {% if sslcheck.ssl_status > 0 %}
                                            <button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></button>
                                        {% else %}
                                            <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></button>
                                        {% endif %}
                                    </td>
                                  
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>


{% endblock content %}

{% block script %}

<script type="text/javascript">
    $(document).ready(function() {
    
        $("#create_check").modalForm({
            formURL: "{% url 'sslapp-check-create' %}"
        });
    
    });
</script>

{% endblock script %}


