{% extends 'service/base.html' %}
{% block  content %}    
    <!-- Modal 1 with id="create-book"-->
    <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        </div>
        </div>
    </div>
    
    <!-- Modal 2 with id="modal" -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
        </div>
    </div>
    <div >
        <div class="panel panel-default">
            <div class="panel-heading">
                <div  class="column">
                     <!-- Button trigger  -->   
                     <form method="POST" action="{% url "sslapp-exec-check" %}" >
                        {% csrf_token %} 
                       <!--<input type="submit" class="btn btn-success" class="fa fa-plus" style="margin: 3px;" value="Run Now: ">  </input> --> 
                        <button type="submit" class="btn btn-success" style="margin: 3px;">    
                            <i class="fa fa-play"></i>  Run Now:  
                        </button>
                   
                    
                        <!-- Button trigger modal -->
                        <button id="create_check" type="button" class="btn btn-info" style="margin: 3px;">    
                        <i class="fa fa-plus"></i>  Add new site:   
                        </button>
                    </form>

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>TITLE</th>
                                <th>SITE URL</th>
                                <th>DESCRIPTION</th>
                                <th>START_DATE</th>
                                <th>EXPIRE_DATE</th>
                                <th>CHECK DATE</th>
                                <th>CREATE BY</th>
                                <th>STATUS</th>
                                <th>#</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for  sslcheck in  sslcheckList %}
                                <tr>
                                    <td><div class="btn-group open">
                                            <button type="button" class="btn btn-info btn-sm " data-toggle="collapse" data-target="#certinfo">
                                                <i class="fa fa-info"></i>
                                            </button>
                                            
                                            <div id="certinfo" class="collapse">
                                                <br>
                                                <br>
                                                {{ sslcheck.ssl_cert_info }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ sslcheck.ssl_title }}</td>
                                    <td>{{ sslcheck.ssl_site }}</td>
                                    <td>{{ sslcheck.ssl_desc|slice:":10" }}.. .</td>
                                    <td>{{ sslcheck.ssl_create_date }}</td>
                                    <td>{{ sslcheck.ssl_expiry_date }}</td>
                                    <td>{{ sslcheck.ssl_last_check }}</td>
                                    <td>{{ sslcheck.ssl_author }}</td>
                                    <td>
                                        {% if sslcheck.ssl_status > 0 %}
                                            <button type="button" class="btn btn-success btn-circle  btn-sm"><i class="fa fa-check"></i></button>
                                        {% else %}
                                            <button type="button" class="btn btn-danger btn-circle  btn-sm"><i class="fa fa-times"></i></button>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-alert  btn-sm"><i class="fa fa-trash"></i></button>
                                    </td>
                                  
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>


{% endblock content %}

{% block script %}

<script type="text/javascript">
    $(document).ready(function() {
        
        // Read book buttons
        $(".detail_check").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });
        
        $("#create_check").modalForm({
            formURL: "{% url 'sslapp-check-create' %}",
            modalID: "#create-modal"
        });
    
    });
</script>

{% endblock script %}


